<section class="mt-20 md:mt-24">
  <ng-container *ngIf="!loading; else loadingTemplate">
    <div
      class="max-w-screen-lg mx-auto px-3 md:px-6 xl:px-0 grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 overflow-y-auto pb-10"
    >
      <div
        *ngFor="let book of books"
        class="w-full card transition-all duration-300 p-3 border border-gray-200 rounded-lg cursor-pointer"
        (click)="navigateToBook(book._id!)"
      >
        <img
          src="{{ book.coverUrl }}"
          alt="book-image"
          class="size-48 mx-auto rounded-md mb-2"
        />
        <h3 class="text-[16px]">{{ book.title }}</h3>
        <div class="flex items-center justify-between">
          <p class="text-[16px] font-bold">&#x20B9;{{ book.price }}</p>
          <ng-container *ngIf="isInCart(book); else addToCartTemplate">
            <button mat-icon-button (click)="navigateToCart($event)">
              <i class="pi pi-check"></i>
            </button>
          </ng-container>
          <ng-template #addToCartTemplate>
            <button mat-icon-button (click)="onAddToCart($event, book)">
              <i class="pi pi-cart-plus"></i>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingTemplate>
    <div class="fixed inset-0 flex items-center justify-center">
      <mat-spinner diameter="45"></mat-spinner>
    </div>
  </ng-template>
</section>
