<nav class="bg-white border-gray-200 border-b fixed inset-x-0 z-10">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto md:px-6 md:py-2.5 px-3 py-1.5"
  >
    <a class="flex items-center gap-x-1" routerLink="/">
      <app-icon [width]="50" [height]="45" />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap hidden md:block"
        >BookHive</span
      >
    </a>
    <div class="w-auto items-center gap-x-8 hidden md:flex">
      <ng-container *ngFor="let link of navLinks">
        <a [routerLink]="link.route" class="nav-link">
          <i class="{{ link.icon }}"></i>
          {{ link.label }}
          <span
            *ngIf="link.label === 'Cart' && totalCartItems > 0"
            class="inline-flex items-center justify-center p-1 px-2 w-fit text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full"
            >{{ totalCartItems }}</span
          >
        </a>
      </ng-container>
    </div>
    <!-- Hamburger menu -->
    <div class="md:hidden block">
      <button mat-icon-button (click)="toggleNav()">
        <i class="pi pi-bars"></i>
      </button>
    </div>
  </div>
</nav>

<!-- Drawer's Backdrop -->
<ng-container>
  <div
    *ngIf="isOpen"
    class="fixed inset-0 md:hidden bg-black/50 z-40 transition-all duration-500"
    (click)="toggleNav()"
  ></div>
  <!-- Drawer -->
  <section
    class="top-0 right-0 w-[75%] sm:w-[60%] md:hidden bg-gray-50 rounded-l-md fixed h-full z-[50] ease-in-out duration-500"
    [ngClass]="{ 'translate-x-0': isOpen, 'translate-x-full': !isOpen }"
  >
    <div class="w-full flex justify-start p-2 sm:p-3">
      <button
        (click)="toggleNav()"
        class="inline-flex items-center justify-center w-6 h-6 text-red-600 transition-colors duration-150 rounded-full focus:shadow-outline"
      >
        <i class="pi pi-times h-4 w-4"></i>
      </button>
    </div>
    <div class="h-full px-4 py-1 flex flex-col gap-y-2 items-center">
      <app-icon [width]="60" [height]="55" />
      <h2 class="text-2xl font-semibold tracking-wide">BookHive</h2>
      <div class="w-full flex flex-col gap-2 border-t border-gray-200 pt-4">
        <ng-container *ngFor="let link of navLinks">
          <div class="nav-link-mobile" (click)="handleNavClick(link.route)">
            <i class="{{ link.icon }}"></i>
            {{ link.label }}
            <span *ngIf="link.label === 'Cart' && totalCartItems > 0">{{
              totalCartItems
            }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</ng-container>
