<div
  *ngIf="cartItems.length === 0; else cartItemsTemplate"
  class="h-[100dvh] w-full flex items-center justify-center"
>
  <p class="text-2xl md:text-3xl font-medium text-center">
    Your cart is empty.
  </p>
</div>

<ng-template #cartItemsTemplate>
  <section class="min-h-screen bg-gray-100">
    <div
      class="max-w-5xl mx-auto pt-20 md:pt-24 pb-10 px-2 md:px-4 lg:px-6 xl:px-0 flex flex-col md:flex-row gap-2 md:gap-4"
    >
      <!-- Start of cart item card -->
      <div class="w-full md:w-2/3 bg-white shadow">
        <app-cart-item
          *ngFor="let cartItem of cartItems; index as i"
          [cartItem]="cartItem"
          [index]="i"
          [totalItems]="cartItems.length"
          (increment)="incrementItem(cartItem._id!)"
          (decrement)="decrementItem(cartItem._id!)"
          (remove)="removeItem(cartItem._id!)"
          [disableEvents]="false"
        />
      </div>
      <!-- End of cart item card -->
      <!-- Start of price details card -->
      <div
        class="w-full md:w-1/3 shadow p-4 md:p-6 xl:p-7 bg-white h-fit rounded-md"
      >
        <h3 class="text-2xl lg:text-3xl text-gray-600 uppercase">
          Price Details
        </h3>
        <hr class="py-2 text-gray-900" />
        <div class="flex items justify-between">
          <p>Price ({{ cartItems.length }} items)</p>
          <p>&#x20B9;{{ totalPrice }}</p>
        </div>
        <div class="flex items-center justify-between">
          <p>Delivery Charges</p>
          <p
            [ngClass]="{
              'text-green-500': totalPrice >= 500,
              'text-red-500': totalPrice < 500
            }"
            class="text-lg font-medium"
          >
            {{ totalPrice >= 500 ? "Free" : "&#x20B9;40" }}
          </p>
        </div>
        <hr class="py-2 text-gray-900" />
        <div class="flex items-center justify-between font-bold text-lg">
          <p>Total Amount</p>
          <p>&#x20B9;{{ totalPrice >= 500 ? totalPrice : totalPrice + 40 }}</p>
        </div>
        <div class="flex flex-col gap-3 mt-1">
          <a routerLink="/checkout">
            <button mat-flat-button color="primary" class="w-full">
              Checkout
            </button>
          </a>
          <a routerLink="/">
            <button mat-flat-button color="accent" class="w-full">
              Continue Shopping
            </button>
          </a>
        </div>
      </div>
      <!-- End of price details card -->
    </div>
  </section>
</ng-template>
