<div class="px-2 py-5">
  <h2 class="font-medium text-2xl text-center mb-3">Register in to BookHive</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-full">
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Choose a username"
        formControlName="username"
        required
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Enter your email address"
        formControlName="email"
        required
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>First Name</mat-label>
      <input
        matInput
        placeholder="Enter your first name"
        formControlName="firstName"
        required
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        placeholder="Enter your last name"
        formControlName="lastName"
        required
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Choose a password"
        formControlName="password"
        required
      />
    </mat-form-field>
    <div class="max-w-xs mx-auto">
      <button
        mat-flat-button
        color="accent"
        class="w-full"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        Register
      </button>
    </div>
  </form>
</div>
