<section
  class="xl:max-w-lg mt-20 md:mt-24 w-full md:max-w-md mx-auto px-4 pb-5 md:pb-10 lg:px-0"
>
  <mat-card>
    <mat-card-header class="text-2xl font-semibold mx-auto"
      >Add a Book to BookHive</mat-card-header
    >
    <mat-card-content class="mt-8">
      <form [formGroup]="bookForm" (ngSubmit)="submitForm()">
        <mat-form-field class="w-full">
          <mat-label>Title</mat-label>
          <input
            matInput
            placeholder="Title of the Book"
            formControlName="title"
            required
          />
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Author</mat-label>
          <input
            matInput
            placeholder="Author of the Book"
            formControlName="author"
            required
          />
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Genre</mat-label>
          <input
            matInput
            placeholder="Genre of the Book"
            formControlName="genre"
            required
          />
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Price</mat-label>
          <input
            matInput
            type="number"
            placeholder="Price of the Book"
            formControlName="price"
            required
          />
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>CoverUrl</mat-label>
          <input
            matInput
            placeholder="CoverUrl of the Book"
            formControlName="coverUrl"
            required
          />
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            placeholder="Description of the Book"
            rows="5"
            formControlName="description"
            required
          ></textarea>
        </mat-form-field>
        <div class="max-w-md mx-auto">
          <button
            mat-flat-button
            color="accent"
            class="w-full"
            [disabled]="!bookForm.valid"
          >
            Submit
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</section>
