<section class="min-h-screen bg-gray-100">
  <div
    class="w-full max-w-4xl mx-auto pt-20 md:pt-24 px-2 md:px-4 lg:px-6 xl:px-0 pb-10"
    *ngIf="cart !== null"
  >
    <div
      class="w-full bg-white shadow p-3 md:p-5 xl:p-6 rounded-md overflow-hidden"
    >
      <!-- First Step -->
      <div *ngIf="currentStep === 'address'">
        <p class="font-semibold text-xl md:text-2xl text-center">
          Fill out your Address
        </p>
        <form
          [formGroup]="addressForm"
          (ngSubmit)="onAddressFormSubmit()"
          class="max-w-lg mt-5 mx-auto"
        >
          <mat-form-field class="w-full">
            <mat-label>Address</mat-label>
            <input
              matInput
              formControlName="address"
              placeholder="Your address"
            />
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" placeholder="Your city" />
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Postal Code</mat-label>
            <input
              matInput
              formControlName="postalCode"
              type="number"
              placeholder="Your postal code"
            />
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Country</mat-label>
            <input
              matInput
              formControlName="country"
              placeholder="Your country"
            />
          </mat-form-field>
          <div class="w-full flex justify-center">
            <button
              mat-flat-button
              color="primary"
              class="max-w-sm w-full"
              type="submit"
              [disabled]="!addressForm.valid"
            >
              Continue
            </button>
          </div>
        </form>
      </div>
      <!-- End of first step -->
      <!-- Second step -->
      <div *ngIf="currentStep === 'summary'">
        <p class="font-semibold text-xl md:text-2xl text-center">
          Cart Summary
        </p>
        <hr class="text-gray-400 my-2" />
        <p class="text-sm md:text-lg text-center font-medium">
          Deliver to: {{ orderDetails?.shippingAddress?.address }},
          {{ orderDetails?.shippingAddress?.city }}
          {{ orderDetails?.shippingAddress?.postalCode }}
        </p>
        <app-cart-item
          *ngFor="let cartItem of cart?.items; index as i"
          [cartItem]="cartItem"
          [index]="i"
          [totalItems]="cart.items.length!"
          [disableEvents]="true"
        />
        <div
          class="flex flex-col sm:flex-row gap-4 items-center justify-center w-full mt-5 lg:mt-8"
        >
          <button
            mat-flat-button
            color="accent"
            class="w-full max-w-xs"
            (click)="onOrderPlace()"
          >
            Place Order
          </button>
          <a routerLink="/" class="w-full max-w-xs">
            <button mat-flat-button color="warn" class="w-full">Cancel</button>
          </a>
        </div>
      </div>
      <!-- End of second step -->
      <!-- Start of third step -->
      <div
        *ngIf="currentStep === 'success'"
        class="h-[70vh] md:h-[60vh] flex flex-col items-center justify-center gap-4"
      >
        <img
          src="/assets/success.svg"
          alt="success"
          class="object-cover size-24 md:size-28 xl:size-40"
        />
        <p class="font-semibold text-xl md:text-2xl text-center">
          Order Placed Successfully!
        </p>
        <p class="font-medium text-sm lg:text-lg">
          Order id: {{ response._id }}
        </p>
      </div>
    </div>
  </div>
  <div
    *ngIf="isEmpty"
    class="min-h-screen w-full flex items-center justify-center"
  >
    <h3 class="font-medium text-2xl md:text-3xl">Nothing to checkout!</h3>
  </div>
</section>
